<ion-header>
  <ion-toolbar>
    <ion-title>
      LISTA TOP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

  <ion-button  (click)='direcionar()' expand="block" color="medium" href="pagina1" > Cadastrar </ion-button>
  <ion-button  expand="block" color="medium" href="pagina2">Listar</ion-button>
  <ion-img src="https://banner2.kisspng.com/20180707/pif/kisspng-agenda-computer-icons-diary-computer-icons-clip-art-5b4090496b5608.3961627315309578974397.jpg"></ion-img>

</div>
</ion-content>
